* {
    margin: 0;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 50px;
}

header ul {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 30px;
}

header ul li {
    margin-right: 8rem;
}

header ul li p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

header ul li:last-child {
    margin-inline-end: 5rem;
}

ul li:first-child {
    color: #FA4A0C;
}

/* Main */

#principal {
    background-image: url(img/Rectangle\ 48.png);
    background-size: cover;
    width: 100%;
    height: 618px;
    display: flex;
    flex-direction: column;
}

#principal p {
    color: white;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

#principal p:first-child {
    margin-top: 4em;
    margin-block-end: 20px;
    font-size: 25px;
}

#principal p:not(:first-child) {
    font-size: 70px;
}

#imgPrincipal {
    width: 100%;
    opacity: 0%;
}

main h2 {
    text-align: center;
    width: 100%;
}

#pizza {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pizza {
    border: solid #FA4A0C;
    width: 460px;
}

.pizza *:not(.buy, img){
    margin: 15px;
    margin-left: 20px;
}

.pizza img {
    width: 420px;
    margin: 20px 20px 0 20px;
}
.pizza p:not(.pBuy) {
    font-size: 36px;
    font-weight: bold;
}

.pizza .pBuy {
    margin-top: 45px;
}

.buy {
    display: flex;
    justify-content: end;
}

.buy p {
    padding: 12px 40px;
    border-radius: 50px;
    background-color: #FA4A0C;
    color: white;
}

main h2 {
    margin-bottom: 65px;
}

main h2:first-child {
    margin-top: 30px;
}

.hr {
    width: 100%;
    display: flex;
    justify-content: center;
}

hr {
    width: 65%;
    margin: 65px 0;
}

/* Footer */

#princFoot {
    margin-block-start: 45em;
    background-image: url(img/Rectangle47.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 537px;
}

.princFoot {
    margin-block-start: 150px;
    color: white;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 80px;
    margin-block-end: 85px;
    margin-inline: auto;
}

footer p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    color: rgb(82, 82, 82);
}

#reseau {
    display: flex;
    align-items: center;
}

#reseau img:nth-child(2){
    margin-inline: 30px;
}